@inject IJSRuntime JS

<div class="group-selector">
    @foreach (var group in Groups)
    {
        var anchorName = group.GetAnchorName(ParentGroupAnchor);

        <div class="@CssClass("group", new { group.Visible })">
            <div class="group-title">

                <label class="@CssClass("toggle-box", group.SelectionState.ToString().ToLower())">
                    <input type="button" @onclick="@(() => OnClickToggleBox(group))" />
                </label>

                <a href="#@anchorName" @onclick="@(() => OnClickGroupLink(anchorName))" @onclick:preventDefault="true">
                    @group.Title
                </a>
            </div>

            <div class="sub-group">
                <GroupSelector ParentGroupAnchor="@anchorName"
                               Groups="group.SubGroups"
                               OnChangeGroupSelection="_OnChangeSubGroupSelection" />
            </div>
        </div>
    }
</div>