@inject IJSRuntime JS

<div class="group-selector">
    @foreach (var group in Groups)
    {
        var anchorName = group.GetAnchorName(ParentGroupAnchor);

        <div class="@CssClass("group", new { group.Selected, Disabled = !this.Enable, group.Visible })">
            <div class="group-title">
                <input id="@anchorName" type="checkbox" checked="@group.Selected" @onchange="(arg => _OnChangeGroupSelection(group, (bool)arg.Value))" disabled="@(!Enable)" />
                <label for="@anchorName" class="icon icon-checkbox-checked" />
                <a href="#@anchorName" @onclick="@(() => OnClickGroupLink(anchorName))" @onclick:preventDefault="true">
                    @group.Title
                </a>
            </div>

            <div class="sub-group">
                <GroupSelector ParentGroupAnchor="@anchorName"
                               Groups="group.SubGroups"
                               OnChangeGroupSelection="_OnChangeSubGroupSelection"
                               Enable="group.Selected" />
            </div>
        </div>
    }
</div>